@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #eb5e28;
    --secondary-color: #ccc5b9;
    --background-color: #ffffff;
    --text-color: #252422;
    --accent-color: #403d39;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #eb5e28;
    --secondary-color: #403d39;
    --background-color: #252422;
    --text-color: #fffcf2;
    --accent-color: #ccc5b9;
  }
}

body {
  color: var(--text-color);
  background: var(--background-color);
  font-family: 'Libre Baskerville', 'Source Sans 3', sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: var(--background-color);
}

.skeleton {
  background: var(--accent-color);
  background: linear-gradient(90deg, var(--accent-color) 0%, var(--secondary-color) 50%, var(--accent-color) 100%);
  background-size: 200% 200%;
  animation: skeleton 1.5s infinite;
}

.hover-effect {
  position: relative;
  display: inline-block;
  transition: color 0.3s;
}

.hover-effect::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.hover-effect:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}